# This is a configuration file template for the SCION control server.
# It is instantiated with concrete values in the ControlServer class.
# The structure of this file depends on the SCION version and is thus linked to the binary located in jniLibs.

[general]
id = "control_server"
reconnect_to_dispatcher = true
config_dir = "%s"

[metrics]
prometheus = "127.0.0.1:30454"

[log.console]
level = "%s"

[trust_db]
connection = "%s"

[path_db]
connection = "%s"

[beacon_db]
connection = "%s"

[beaconing]
origination_interval = "5s"
propagation_interval = "5s"

[quic]
address = "127.0.0.1:30354"