<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <queries>
        <package android:name="de.blinkt.openvpn" />
    </queries>
    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/applicationName"
        android:theme="@style/AppTheme"
        android:allowBackup="true"
        tools:replace="android:allowBackup">
            <service android:name="org.scionlab.scion.ScionService" android:exported="false"/>
            <activity android:name="org.scionlab.scion.MainActivity"
                android:exported="true">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />
                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
            </activity>
        <activity android:name=".WebActivity"
            tools:ignore="Instantiatable" />
        <activity android:name=".LogActivity"
            tools:ignore="Instantiatable" />
    </application>
</manifest>